.projects{
    background-color: var(--color-4);
}

.project__container {
    overflow: hidden;
}

.project__content {
    display: grid; 
    grid-template-columns: repeat(12,1fr);
    width:100%;
    padding-bottom: 150px;
    align-items: right;
    border-color: var(--color-0);
}

.project__content.odd .project-image {
    grid-column: 2 / 7; 
}

.project__content.odd .project-info {
    grid-column:  -9 / -2; 
}



.project__lastcontent {
    display: grid; 
    grid-template-columns: repeat(12,1fr);
    width:100%;
    align-items: right;
}

.project-info , .project-image{
    grid-row: 1/2;
}

.project-image {
    width: 40rem;
    min-height: 50%;
}

.project-image img{
    opacity: 0.2;
}

.project-image img:hover{
    opacity: 1;
}

.project-info {
    align-self: center;
}

.project-title{
    text-align: right;
    font-size: var(--mb-1-5);
}


.project-description{
    position: relative;
    z-index: 1;
    font-size: var(--mb-1);
    justify-content:flex-end;
    background-color: var(--color-7); 
    padding: 1rem; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-tech-list {
    justify-content: right;
   display: flex;
   color: var(--color-1);
   font-size: var(--mb-1);
}

.project-tech-list li {
    margin-left: 1rem; 
}

.project__social{
    justify-content: right;
    display: flex;
}

.project__social-icon{
    padding-left: 10px;
    font-size: 1.75rem;
    color:var(--light-slate);
}

.project__social-icon:hover{
    color:darkorange;
}


.project__content.even .project-image {
    grid-column:  -7 / -2; 
}

.project__content.even .project-info {
    grid-column: 2 / 9; 
}

.project__content.even .project-title {
    text-align: left;
}

.project__content.even .project-tech-list{
    justify-content: left;
}

.project__content.even .project-tech-list li{
    margin-right: 1rem;
}

.project__content.even .project__social{
    margin-left: 0;
}

.project__content.even .project__social{
    justify-content: left;
    display: flex;
}

/* Last */
.project__lastcontent.even .project-image {
    grid-column:  -7 / -2; 
}

.project__lastcontent.even .project-info {
    grid-column: 2 / 9; 
}

.project__lastcontent.even .project-title {
    text-align: left;
}

.project__lastcontent.even .project-tech-list{
    justify-content: left;
}


.project__lastcontent.even .project__social{
    margin-right: 1rem;
}

.project__lastcontent.even .project__social{
    justify-content: left;
    display: flex;
}