/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
    --color-0: #ec5b53;
    --color-1: #cf332b;
    --color-2: #002d5b;
    --color-3: #35373a;
    --color-4: #fefafa;
    --color-5: #ffffff;
    --color-6: #F2F5F7;
    --color-7: #a0a0a0;
    --color-8: #000000;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-light: 100;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--color-8);
  /*background-color: var(--color-4);*/
}

h1,
h2,
h3 {
  color: var(--color-8);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== Title CSS ===============*/

.word1{
  color: var(--color-8);
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--color-1);
}

.word2{
  color: var(--color-1);
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--color-1);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 11rem 0 11rem;
  margin: auto;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.section__subtitle {
  display: block;
  font-size: var(--medium-font-size);
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--color-3);
  font-weight: var(--font-medium);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  color: var(--color-8);
  padding: 1rem 1rem;
  border: 2px solid var(--color-0); 
  border-radius: 5px;
  font-weight: var(--font-medium);
}

.button:hover {
  transition: 0.8s;
  background-color: var(--color-0);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex:hover .button__icon{
  transform: translate(0.5rem);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 4rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}